.post_view_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none; 
    border-radius: 1rem;
    background-color:rgb(221, 221, 201);
    padding: 2rem 1rem;
    margin: 1rem;
    min-height: 12rem;
}
