.postsTitle {
    border-radius: 20px;
    text-align: start;
    text-transform: uppercase;
    padding-left: 40px;
    background-color: rgb(79, 167, 159);
    color: white;
    padding: 20px;
  }
  
  .ulPostStyles {
    text-align: start;
    list-style: none;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .postName {
    padding: 30px;
    background-color: rgba(8, 71, 66, 0.897);
    color: white;
    border: 2px solid rgba(37, 71, 97, 0.199);
    border-radius: 8px;
    font-size: 20px;
  }
  
  .postUser {
    padding: 15px;
    background-color: rgba(37, 71, 97, 0.37);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 15px;
    width: 5vw;
    text-align: center;
  }
  
  .formNewPost {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(79, 167, 159);
    color: white;
    padding: 20px;
  }
  
    .newPostNameInput {
      width: 30vw;
      border: none;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    .newPostUserInput {
      border: none;
      padding: 10px;
      margin-top: 10px;
    }
  
  .buttonNewPost {
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    background-color: #e9e27d;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 17px;
    cursor: pointer;
    font-family: 'Chewy', cursive;

      &:hover {
        background-color: #f8f5c4;
      }
  }