@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.App {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.App-logo {
  height: 6rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1.0s linear;
  }
}

.App-header {
  background-color: #e9e27d;
  height: 30vh;
  font-family: 'Chewy', cursive;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}

.App-body {
  display: flex;
  flex-flow: column nowrap;
  background-color: #f0f0f0;
}

.postsTitle {
  border-radius: 20px;
  text-align: start;
  text-transform: uppercase;
  padding-left: 40px;
  background-color: rgb(79, 167, 159);
  color: white;
  padding: 20px;
}

.ulPostStyles {
  text-align: start;
  list-style: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.postName {
  padding: 30px;
  background-color: rgba(8, 71, 66, 0.897);
  color: white;
  border: 2px solid rgba(37, 71, 97, 0.199);
  border-radius: 8px;
  font-size: 20px;
}

.postUser {
  padding: 15px;
  background-color: rgba(37, 71, 97, 0.37);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  font-size: 15px;
  width: 5vw;
  text-align: center;
}

.formNewPost {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(79, 167, 159);
  color: white;
  padding: 20px;
}

  .newPostNameInput {
    width: 30vw;
    border: none;
    padding: 10px;
  }
  .newPostUserInput {
    border: none;
    padding: 10px;
  }

.buttonNewComment {
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  background-color: #fb61d456;
  border-radius: 7px;
  text-transform: uppercase;
  font-size: 17px;
  cursor: pointer;
  font-family: 'Chewy', cursive;
}

.buttonNewPost {
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  background-color: #e9e27d;
  border-radius: 7px;
  text-transform: uppercase;
  font-size: 17px;
  cursor: pointer;
  font-family: 'Chewy', cursive;
}
